.tour{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}
.tour img{
    width: 95%;
    height: 300px;
    border-radius: 5px;
}
.tour-last{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.tour-last p, button{
    background-color: #3d3d47;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}
.tour-last button{
    font-size: 20px;
    margin-bottom: 10px;
}