.tour-added input{
    margin-bottom: 2px;
    border-radius: 10px;
    border: 1px solid #909195;
    width: 50%;
}
.tour-added textarea{
    margin-bottom: 2px;
    border-radius: 10px;
    border: 1px solid #909195;
    width: 50%;
}