.choose-tour {
    width: 100%;
    height: 450px;
    background-image: url(https://cdn.pixabay.com/photo/2020/01/20/22/54/plant-4781624_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 120px;
}
