.tours-header{
    background-color: #01a2a6;
    text-align: left;
    padding: 20px;
}
.tours-header h3{
    border-left: 2px solid #3d3d47;
    color:  #fff199;
}
.tour-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}